/*GENERAL RULES*/

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url('../images/background.jpeg');
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto
}

section {
    padding: 50px 0;
}

.alert{
    text-align: center;
}

/*HEADER*/

header {
    background-color: #646968;
    height: 70px;
}

.header-title{
    margin-top: 7px;
}

.header-title a {
    color: #eee;
}

.header-auth{
    text-align: right;
    position: relative;
    top: 15px;
}

/*SIDEBAR*/

.sidebar-item__link li{
    background-color: #c7c8d4;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
}

.sidebar-item__link {
    border-radius: 5px
}

.sidebar-item__link li.active{
    background-color: #f5cf45;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    border-color: #f5cf45;
    font-weight: 600;
    border-color: #c9b03e;
}

.sidebar-item__link li:hover {
    box-shadow: 0 .125rem .25rem black;
    transition-duration: 0.3s;
}

/*PAGE 1 MAIN PART*/


.main-title{
    font-size: 50px
}


.page_1-paragraph_1 a{
    color: blue
}

section.main{
    margin-top: 50px;
}

.main-text{
    margin-top: -10px
}

.explore_list li{
    list-style-type: none;
}

.explore_list li:before{
    content: '✓';
    color: green;
    font-weight: 600;
    font-size: 25px;
    padding-right: 10px;
}

.footer{
    background-color: #343434;
    margin-top: 50px;
}

.footer a{
    text-decoration: none;
    transition: all .3s;
}

.footer a, .footer li{
    color: #c8c8c8;
}

.footer a:hover{
    color: #fff;
    text-decoration: underline;

}

.footer h4{
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 2px;
}

.footer li a{
    display: block;
}

.footer-icons a{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}



.carousel-inner{
    max-height: 600px;
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #000;
}

.username{
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}



/* PAGE 2 REGISTER */

.main-content{
    width: 50%;
    margin: 0 auto;
}

.register-btn {
    width: 100%;
    margin-top: 20px;
}

.lil{
    margin-bottom: 300px;
}

.form-control {
    margin-bottom: 20px;
}

.register-form{
    /*margin-top: 5px;*/
}

.register-link{
    color: black;
    float: right;
}

/* PAGE 3 REVIEW */


.review-card{
    background-color: #f0f0f0;
    min-height: 150px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;

}

.review-info {
    border-bottom: 1px dotted #ccc;
    position: relative;
}

.review-user {

}

.review-date{
    position: absolute;
    top: 0;
    right: 0;

}

.review-main {
    position: relative;
}

.active {
    color: #dead28;
}

.review-grade{
    position: absolute;
    top: 0;
    right: 0;
}

.deactive{
    color:  #ccc;
}

.review-content {
    padding-top: 20px;
}

#load-more {
}


/* PAGE 3 MY FINANCE */
.finance {
    margin-bottom: 400px;
}

.nav-item{
    width: 50%;
    border-radius: .25rem;
    border: 1px solid #ccc;
}

.nav-item button {
    width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #06ab03;
}

.finance_tabs{
    margin-top: 3px;
}

.nav-link {
    color: #000;
}

.nav-pills .nav-link{
    color: #000;
    background-color: #fff;
}

.income-card{
    min-height: 200px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;
}

.add-income_wrap {
    text-align: center;
}

.add-income {
    width: 100px;
    margin-left: -30px;
}

.card-icons {
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
}

.income-title{
    font-size: 30px;
    text-align: center;
}

.income-description{
    text-align: center;
}

.income-money{
    margin-top: auto;
}


.cross-icon {
    color: red;
    font-size: 24px;
}

.edit-icon{
    font-size: 24px;
    margin-right: 5px;
}

.cross-icon:hover{
    font-weight: 600;
}

.edit-icon:hover{
    color: green;
}

.fa-coins{
    color: #d1b121;
}

.modal-title{
    color: #000;
}


/* PAGE 4 STATISTIC */

.statistic-title{
    text-align: center;
}




/*MEDIA QUERIES*/

@media (max-width: 600px){
    .signup{
        height: auto;
        font-size: 12px;
    }

    .signin{
        height: auto;
        font-size: 12px;
    }

    .header-auth{
        top: 18px;
    }

    .header-title{
        margin-top: 14px;
    }

    .allreviews{
        margin-top: 20px;
    }
}

@media (max-width: 992px){
    .register-form{
        margin-top: 10px;
    }
}

