{% extends 'base.html' %}
{% load static %}

{% block title %}FinanceTracker{% endblock %}

{%block content %}
<div class="col-lg-9 main-text">
    <h2 class="main-title">Как начать?</h2>
    <p class="page_1-paragraph_1">FinanceTracker - полностью бесплатный сервис для отслеживания своих доходов и
        расходов. Ведь нет лучшего способа настроить будущее, как привести в ясность настоящее. Для работы на нашем
        сервисе вам необходимо <a href="#">зарегистрироваться</a>. Вот краткий обзор возможностей сервиса:
    </p>
    <p>
    <ul class="explore_list">
        <li>В разделе "Мои Финансы" вы можете отслеживать свои доходы и расходы</li>
        <li>В разделе "Cтатистика" вы можете посмотреть динамические изменения ваших финансов за разные промежутки
            времени
        </li>
        <li>В разделе "Отзывы" вы можете посмотеть отзывы о нашем проекте, а также отставить свой</li>
    </ul>
    </p>

    <h3>Мои Финансы</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Officia expedita maiores corporis harum voluptate
        obcaecati, minus possimus, officiis adipisci reprehenderit fugit consectetur nemo accusamus accusantium a
        deserunt excepturi, aliquid quasi?</p>

    <h3>Статистика</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam alias maxime atque omnis deserunt,
        officiis modi enim harum illum voluptates, tempora. Rem quae repellat nobis totam quis reiciendis animi!</p>

    <h3>Отзывы</h3>
    <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Porro illo, tempore voluptas nam facilis repellendus
        inventore, iusto in dolorem voluptates sequi fuga, libero dignissimos temporibus esse ut neque culpa hic.</p>
</div>
{% endblock %}




