<footer>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-6">
                    <h4>Навигация</h4>
                    <ul class="list-unstyled navigation">
                        <li><a href="{% url 'index' %}">Как начать?</a></li>
                        <li><a href="{% url 'my_finance' %}">Мои финансы</a></li>
                        <li><a href="#">Статистика</a></li>
                        <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-6">
                    <h4>Служба поддержки</h4>
                    <ul class="list-unstyled">
                        <li>+7(938)144-74-40</li>
                        <li>sempozh@mail.ru</li>
                        <li>С 9:00 по 21:00 ежедневно</li>
                    </ul>
                </div>

                <div class="col-lg-4 col-6">
                    <h4>Мы в соц. сетях</h4>
                    <div class="footer-icons">
                        <a href="https://instagram.com/sem_pozh"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i> </a>
                        <a href="#"><i class="fab fa-telegram-plane"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>