<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-4 header-title">
                <a href="#"><h1>FinanceTracker</h1></a>
            </div>

            <div class="col-md-6 col-8">
                <div class="header-auth">
                    <a type="button" class="btn btn-outline-warning signin" href="#">Войти</a>
                    <a type="button" class="btn btn-outline-warning signup" href="#">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</header>