<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-4 header-title">
                <a href="#"><h1>FinanceTracker</h1></a>
            </div>

            <div class="col-md-6 col-8">
                <div class="header-auth">
                    {% if request.user.is_authenticated %}
                    <div class="username">{{ request.user.username }}</div>
                    <a type="button" class="btn btn-outline-warning signin" href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                    <a type="button" class="btn btn-outline-warning signin" href="{% url 'login' %}">Войти</a>
                    <a type="button" class="btn btn-outline-warning signup" href="{% url 'register' %}">Зарегистрироваться</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>