<div class="col-lg-3 sidebar">
    <ul class="list-group">
        <a href="#" class="sidebar-item__link">
            <li class="list-group-item active" aria-current="true">Как Начать?</li>
        </a>
        <a href="#" class="sidebar-item__link">
            <li class="list-group-item">Мои Финансы</li>
        </a>
        <a href="#" class="sidebar-item__link">
            <li class="list-group-item">Статистика</li>
        </a>
        <a href="#" class="sidebar-item__link">
            <li class="list-group-item">Отзывы</li>
        </a>
    </ul>
</div>