<div class="col-lg-3 sidebar">
    <ul class="list-group">
        <a href="{% url 'index' %}" class="sidebar-item__link">
            <li class="list-group-item">Как Начать?</li>
        </a>
        <a href="{% url 'my_finance' %}" class="sidebar-item__link">
            <li class="list-group-item">Мои Финансы</li>
        </a>
        <a href="#" class="sidebar-item__link">
            <li class="list-group-item">Статистика</li>
        </a>
        <a href="{% url 'reviews' %}" class="sidebar-item__link">
            <li class="list-group-item">Отзывы</li>
        </a>
    </ul>
</div>